<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="../styles/sessions.css"
    />
  </head>
  <body>
    <div class="newsession-container">
      <header class="header">
        <nav class="header-nav">
          <img src="../img/Group 1.png" alt="logo" />

          <ul class="nav-items">
            <li><a href="../index.html" target="_blank">Главная</a></li>
            <li>
              <a href="../index.html" target="_blank">Сеансы</a>
            </li>
            <li><a href="../index.html" target="_blank">Отзывы</a></li>
            <li><a href="../index.html" target="_blank">Контакты</a></li>
            <li><a href="../layout/news.html" target="_blank">Новости</a></li>
            <li>
              <a href="https://github.com/Tr3nuss" target="_blank">Обо мне</a>
            </li>
            <li><a href="../layout/blog.html">Блог</a></li>
          </ul>

          <button class="header-nav-button">Записаться на сеанс</button>
        </nav>
      </header>

      <hr />

      <main class="newsession-main">
        <div class="newsession-title">
          <div class="newsession-title-sheet"></div>
          <div class="newsession-title-text">Новый формат сеансов</div>
          <div class="newsession-title-sheet"></div>
        </div>

        <div class="newsession-main-description">
          <div class="newsession-description-text">
            <div class="newsession-description-date">13.03.2024</div>
            <h3 class="newsession-description-title">Новый формат сеансов</h3>
            <p class="newsession-description-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Egetmassa
              vitae<br />
              tempus at pretium lacus viverra. Vitae libero vivamus quis enim
              quam vitae<br />
              dictumst nulla duis. Sed nisl nibh et morbi tristique suspendisse
              morbi.<br />
              Consequat facilisi tortor consectetur magnis odio. Risus, aenean
              tortor cras<br />
              consectetur lacus, ut erat ac et. Fermentum aliquam ac egestas
              eget risus a.<br />
              Maecenas sed pellentesque bibendum vitae at praesent sed. Amet
              pretium<br />
              arcu gravida arcu ut dui sem quis id. Tristique in leo donec proin
              odio eget.<br />
              Neque ut in egestas lacus sit nunc, nec. Proin mattis augue sit
              leo sagittis<br />
              nam id accumsan. Pulvinar nunc fermentum vulputate ultrices
              pulvinar sed<br />
              ultrices quis.<br />
              <br />
              Tempor facilisis tellus ac, odio. A amet congue tristique nibh
              malesuada<br />
              lectus. Purus quam dapibus rhoncus iaculis amet tristique. Mattis
              fusce<br />
              lorem fames mauris orci rhoncus, amet fringilla. Quis integer
              vitae at vitae<br />
              urna etiam sed eu sit.<br />
              <br />
              Vitae turpis ullamcorper habitant fermentum aliquet volutpat.
            </p>
          </div>
          <img src="../img/newsession.png" alt="newsession" />
        </div>
      </main>

      <hr />

      <footer>
        <p>© 2018-2024 RitmStyle</p>
        <p>Сделано d-e-n.info</p>
      </footer>
    </div>

    <script src="main.js"></script>
  </body>
</html>
