body {
  background-color: #162831;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.newsession-container {
  max-width: 1298px;
  margin: 30px auto;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-items {
  display: flex;
  gap: 50px;
}

.nav-items a:hover {
  color: #0277bd;
}

.nav-items li,
.nav-items a {
  text-decoration: none;
  list-style: none;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  transition: color 0.3s linear;
}

.header-nav-button {
  background: #018abe;
  border: none;
  outline: none;
  padding: 9px 15px;
  font-size: 13px;
  color: #fff;
  font-weight: 400;
  height: 36px;
  border-radius: 3px;
}

hr {
  margin-top: 30px;
  opacity: 0.5;
}

.newsession-main {
  margin-top: 60px;
}

.newsession-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 45px;
}

.newsession-title-sheet {
  width: 28px;
  height: 14px;
  background: #018abe;
  border-radius: 50px 0px;
}

.newsession-title-text {
  font-size: 42px;
  color: #fff;
}

.newsession-main-description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 70px;
}

.newsession-description-date {
  color: #fff;
  background: #018abe;
  font-size: 14px;
  font-weight: 700;
  padding: 6px 12px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  width: 96px;
}

.newsession-description-title {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  padding-top: 45px;
}

.newsession-description-text {
  font-size: 16px;
  font-weight: 300;
  color: #bdbdbd;
  padding-top: 30px;
}

.newsession-main-description img {
  width: 636px;
  height: 394px;
}

footer {
  max-width: 1296px;
  margin: 90px auto 20px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer p {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}
