body {
  background-color: #162831;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.header {
  max-width: 1298px;
  margin: 30px auto;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-items {
  display: flex;
  gap: 50px;
}

.nav-items li,
.nav-items a {
  text-decoration: none;
  list-style: none;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}

.header-nav-button {
  background: #018abe;
  border: none;
  outline: none;
  padding: 9px 15px;
  font-size: 13px;
  color: #fff;
  font-weight: 400;
  height: 36px;
  border-radius: 3px;
}

.main {
  max-width: 1298px;
  margin: 121px auto;
}

.main-font {
  background: url(../img/main-font.jpeg);
  height: 600px;
  border-radius: 10px;
}

.main-font-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding-top: 136px;
}

.title-sheet {
  background: #fff;
  width: 28px;
  height: 14px;
  border-radius: 50px 0px;
}

.title-text {
  font-size: 24px;
  color: #fff;
}

.suptitle-text {
  text-align: center;
  padding-top: 60px;
  font-size: 64px;
  color: #fff;
}

.session-title {
  display: flex;
  justify-content: center;
  gap: 45px;
  align-items: center;
  padding-top: 99px;
}

.session-sheet {
  background: #018abe;
  width: 28px;
  height: 14px;
  border-radius: 50px 0px;
}

.session-title-text {
  font-size: 42px;
  color: #fff;
}

.card-list {
  margin-top: 100px;
  gap: 25px;
  display: flex;
}

.card-right-items {
  display: flex;
  gap: 25px;
}

.card-right-items div {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.first-card-list-item {
  width: 416px;
  height: 540px;
  background: url(../img/img1.png);
  position: relative;
}

.card-list-item {
  width: 416px;
  height: 258px;
  background: url(../img/img2.png);
  position: relative;
}

.card-list-item p,
.first-card-list-item p {
  color: #fff;
  font-size: 24px;
  padding: 40px;
  position: absolute;
  bottom: 0;
}

.reviews-section {
  max-width: 1736px;
  margin: 0 auto;
}

.reviews {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 45px;
}

.reviews-word {
  color: #fff;
  font-size: 42px;
}

.reviews-sheet {
  width: 28px;
  height: 14px;
  background: #018abe;
  border-radius: 50px 0px;
}

.reviews-blocks {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.reviews-block {
  background: #1e3e59;
  width: 500px;
  height: 276px;
  border-radius: 10px;
  padding: 40px 45px;
}

.reviews-block {
  font-size: 16px;
  color: #bdbdbd;
}

.reviews-block p {
  margin-top: 30px;
  font-size: 10px;
  color: grey;
}

.reviews-active-block {
  padding: 50px 60px;
  background: #018abe;
  width: 636px;
  height: 350px;
  border-radius: 10px;
}

.reviews-active-block h3 {
  font-size: 20px;
  color: #fff;
}

.reviews-active-block p {
  margin-top: 30px;
  font-size: 14px;
  color: #fff;
}

.reviews-blocks-squares {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 60px;
}

#first-reviews-blocks-squares {
  background: #fff;
}

.reviews-blocks-squares div {
  width: 16px;
  height: 16px;
  background: grey;
  border-radius: 5px;
}

.session-description {
  max-width: 1076px;
  margin: 0 auto;
}

.session-description-title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
  gap: 45px;
}

.session-descirption-word {
  font-size: 42px;
  color: #fff;
}

.session-description-sheet {
  width: 28px;
  height: 14px;
  background: #018abe;
  border-radius: 50px 0px;
}

.session-description-blocks {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: space-between;
  align-items: center;
}

.session-description-block-massage {
  width: 466px;
  height: 234px;
}

.session-description-block-massage-title {
  font-size: 24px;
  color: #fff;
}

.session-description-block-massage-text {
  margin-top: 30px;
  font-size: 16px;
  font-weight: 300;
  color: grey;
}

.session-description-block-image {
  width: 526px;
  height: 365px;
  background: url(../img/img3.png);
}

.session-descirption-block-hydroterapy {
  width: 466px;
  height: 366px;
}

.session-price {
  max-width: 1076px;
  margin: 150px auto;
}

.session-price-word {
  font-size: 42px;
  color: #fff;
}

.session-price-sheet {
  width: 28px;
  height: 14px;
  background: #018abe;
  border-radius: 50px 0px;
}

.session-price-images {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
}

.section-map {
  max-width: 1296px;
  margin: 0 auto;
  display: flex;
  gap: 48px;
}

.place-nav {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.place-1,
.place-2 {
  width: 392px;
  height: 290px;
  background: #018abe;
  padding: 35px 45px;
  border-radius: 10px;
}

.place-nav-title {
  font-size: 24px;
  color: #fff;
}

.place-1 div,
.place-2 div {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 21px;
}

.place-1 div p,
.place-2 div p {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}

.record {
  padding: 9px 15px;
  margin-top: 30px;
  height: 36px;
  border-radius: 3px;
  color: #018abe;
  font-size: 13px;
  font-weight: 600;
  border: none;
  outline: none;
}

footer {
  max-width: 1296px;
  margin: 90px auto 20px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer p {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}
